/* Accordion.css */
.accordion {
}

.accordion-item {
}

.accordion-header {
  width: 100%;
  background-color: #2c3340;
  border: none;
  text-align: left;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  height: 30px;
  margin: 0; /* 타이틀과 컨텐츠 사이의 여백 제거 */
  padding: 6px 20px;
}

.accordion-icon {
  transition: transform 0.3s ease;
  margin-right: 10px;
}

.accordion-content {
  max-height: 0; /* 기본적으로 완전히 닫히도록 설정 */
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  padding: 0 20px; /* 상하 패딩 제거 */
  margin: 0; /* 타이틀과 컨텐츠 사이의 여백 제거 */
  background-color: #1e2530;
}

.accordion-content.active {
  max-height: 74px; /* 내용이 있을 때 적절한 높이로 설정 */
}

.accordion-header.active .accordion-icon {
  transform: rotate(180deg);
}
