/* Select.css */

.custom-select {
    position: relative;
    width: 200px;
    cursor: pointer;
}

.select-trigger {
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 4px; /* Select-trigger의 border-radius */
    transition: border-radius 0.3s ease-in-out;
}

.select-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    z-index: 10;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px; /* 옵션 리스트의 border-radius */
    max-height: 0; /* 기본 상태에서 보이지 않도록 설정 */
    overflow: hidden; /* 넘치는 내용 숨기기 */
    opacity: 0; /* 기본 상태에서 보이지 않도록 설정 */
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out; /* 애니메이션 속도 조절 */
}

.select-options.open {
    max-height: 200px; /* 최대 높이 설정 */
    opacity: 1; /* 리스트가 보이도록 설정 */
}

.select-option {
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    border-bottom: 1px solid #ccc;
}

.select-option:last-child {
    border-bottom: none;
}

.select-option:hover {
    background-color: #e0f0ff;
    color: #007bff;
    border-left: 3px solid #007bff;
}
