/* Slider.css */

.slider-container {
    width: 300px;
    margin: 50px auto;
    position: relative;
}

.slider {
    width: 100%;
    margin: 20px 0;
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
    border-radius: 5px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #4CAF50;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.slider::-webkit-slider-thumb:hover {
    background-color: #fff;
    border-color: #219653;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #fff;
    border: 2px solid #4CAF50;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.slider::-moz-range-thumb:hover {
    background-color: #fff;
    border-color: #219653;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.value-display {
    position: absolute;
    top: 45px; /* 슬라이더 아래로 위치 */
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7); /* 반투명 블랙 */
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    pointer-events: none; /* 값 요소가 클릭을 막지 않도록 함 */
}

.value-arrow {
    position: absolute;
    top: -8px; /* 삼각형이 표시 영역 위에 붙도록 조정 */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid rgba(0, 0, 0, 0.7); /* 반투명 블랙 화살표 */
}
